name: Publish STLs

on:
  push:
    branches: [ "main" ]
    paths: [ "parts/*" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: openscad/openscad

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      # Runs a single command using the runners shell
      - name: OpenSCAD STL converter
        run: |
          make clean all
          ls ./generated
          
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Generate STL CAD
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          branch: generated-stls-workspace
          delete-branch: true
          title: '[Automated] Generate STLs Job'
          labels: "automation"
          body: |
            Updates stl files with the generate-files command
            
            Auto-generated by [create-pull-request][1]
            [1]: https://github.com/peter-evans/create-pull-request
          assignees: laenzlinger
          reviewers: laenzlinger
          draft: false

