name: Publish STLs

on:
  push:
    branches: [ "main" ]
    paths: [ "parts/*", "Makefile", ".github/workflows/*" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: openscad/openscad

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - name: Install git on container
        run: |
          apt update
          apt install -y git make

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      # Runs a single command using the runners shell
      - name: OpenSCAD STL converter
        run: |
          make clean all
          ls ./generated
 
      - name: update file and push to remote
        run: |
          git config --global user.name ${{ github.actor }}
          git config --global user.email <${{ github.actor }}@users.noreply.github.com>
          git add -A
          git commit -m "Generate /generated"
          git push
